button {
    width: 100%;
    height: 25px;
    background-color: lightgray;
    font-size: 1.4em;
    font-family: monospace;
}

.padding {
padding-bottom: 5px;
}

.error {
font-size: 1em;
color: red;
}

.right {
padding-left: 25px;
}

label {
padding-left:5px;
padding-bottom: 5px;
}