<mat-grid-list cols="29" rowHeight="1:1">
    <h1
        *ngFor="let square of squares"
        [style.background]="square.color">
        <div class="square-input" *ngIf="square.editable"><input #box maxlength="1" (keyup)="updateBox(box.value, square)" placeholder="{{square.placeholder}}" /></div>
    </h1>
  </mat-grid-list>
  <!-- <div>
    <table>
      <tr ng-repeat="y in grid">
        <td ng-repeat="x in y track by $index">{{x}}</td>
      </tr>
    </table>
  </div> -->
